/* Overall body and text styling */
body {
  color: #3C3D37;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #ECDFCC;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #3C3D37;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #697565;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p {
  color: #3C3D37;
  line-height: 2;
}

.comp {
  text-decoration: underline;
}

/* Hyperlinks and horizontal rule styling */
a {
  color: #697565;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #ECDFCC;
}

hr {
  border: dotted;
  border-bottom: none;
  border-width: 6px;
  border-color: #697565;
  width: 6%;
  margin: 100px auto;
}

/* Container Styling */
.top-container {
  background-color: #1E201E;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  padding: 100px 0;
  background-color: #ECDFCC;
}

.bottom-container {
  background-color: #3C3D37;
  padding: 50px 0 20px;
}

/* Intro and skill section styling */
.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: justify;
}

.skill-heading {
  text-align: center;
}

/* Image styling */
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.junaid-image {
  width: 20%;
}

.web-developer-img {
  width: 35%;
  margin-right: 30px;
  float: left;
}

.collaboration-img {
  width: 40%;
  margin-left: 30px;
  float: right;
}

/* Contact me and footer styling */
.contact-message {
  width: 35%;
  margin: 40px auto 60px;
}

.btn {
  background: #3C3D37;
  background-image: linear-gradient(to bottom, #3C3D37, #1E201E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ECDFCC;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #697565;
  background-image: linear-gradient(to bottom, #697565, #3C3D37);
  text-decoration: none;
}

.copyright {
  color: #ECDFCC;
  font-size: 0.75rem;
  padding: 20px 0;
}